<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:property-placeholder-->
<!--            location="classpath:config/db.properties" />-->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/interview_assignment_db?serverTimezone=UTC&amp;allowPublicKeyRetrieval=true&amp;useSSL=false"/>
        <property name="username" value="user"/>
        <property name="password" value="pass"/>
    </bean>
    <!-- Mysql <-> Mybatis 를 연결해주는 객체 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:config/mybatis-config.xml"/>
        <property name="mapperLocations">
            <list>
                <value>classpath*:mappers/mapper.xml</value>
            </list>
        </property>
    </bean>
<!--SQL Template  설정-->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg name="sqlSessionFactory" index="0" ref="sqlSessionFactory"/>
        <constructor-arg index="1" value="BATCH" />
    </bean>

    <!--4. IOC 설정 : <context:component-scan> :  IOC, DI, DL에 대한 설정-->
    <context:annotation-config />
    <context:component-scan base-package="com.board" />



<!--      SqlSessionTemplate 주입-->
<!--    <bean id="boardDaoImpl" class="com.board.dao.BoardDAOImpl">-->
<!--        <property name="sqlSession" ref="sqlSessionTemplate" />-->
<!--    </bean>-->
</beans>